# OS X artifacts
.DS_Store

# Claude Code session artifacts
/.claude/

# Rebuild script
/rebuild.sh

# Build artifacts
/build/
/release/
/Cosmic Hammer.app
/CosmicHammer*.zip
/LuaSkin.framework
*.dSYM

# Generated build files
CosmicHammer/secrets.h
extensions/httpserver/CosmicHammerCertTemplate.h

# Editor cruft
*.swp

# Xcode artifacts (no longer generated, but ignore if created locally)
CosmicHammer.xcodeproj/
CosmicHammer.xcworkspace/

# Taken from: https://github.com/github/gitignore/blob/master/Global/Xcode.gitignore
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
artifacts/
DerivedData/
.build/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

Brewfile.lock.json

# Coverage instrumentation artifacts
*.profraw
*.profdata
