//
//  Extensions-Base.xcconfig
//  Hammerspoon
//
//  Created by Chris Jones on 31/10/2021.
//  Copyright © 2021 Hammerspoon. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Dylib version info. Maybe we should bump these? But it doesn't really seem to matter
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1

// Executable prefix. Extensions are loaded via Lua's require() as "hs.lib<name>",
// so the dylib must be named lib<name>.dylib to match the cpath lookup.
EXECUTABLE_PREFIX = lib

// FIXME: Fix up hs.axuielement and remove this line
WARNING_CFLAGS =  $(inherited) -Wno-tautological-pointer-compare -Wno-bad-function-cast -Wno-deprecated-non-prototype

// LuaSkin framework headers use double-quoted includes internally
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = NO

// Don't try and install the library in /usr/local/lib when archiving/exporting
SKIP_INSTALL = YES
